* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #121c35, #1c2843);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/clock.png);
    background-size: cover;
    box-shadow: inset 10px 10px 15px #121c35,
                inset -10px -10px 15px #121c35;
}